/* _base.css  is loaded from core.scss*/
/* ================ */
/* = TINY RESET = */
/* ================ */
a, button, textarea { outline: none; }

img { border: none; }

button, input, select, textarea { margin: 0; font-family: inherit; }

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

label { cursor: pointer; }

/*.fss{font-size:  9px}
.fsm{font-size:  11px}
.fsl{font-size:  13px}
.fsxl{font-size:  16px}
.fsxxl{font-size:  18px}
.fwn{font-weight: normal}
.fwb{font-weight: bold}*/
/* ================ */
/* = INLINE-BLOCK = */
/* ================ */
/* inline-block wrap - prevent whitespace spacing in FF */
.btn_wrap, .btn_group { letter-spacing: -0.25em; white-space: nowrap; }

.line { letter-spacing: -0.279em; }

/* this is because letter-spacing breaks justify in some cases*/
.grid { word-spacing: -0.279em; }

/* reset letter-spacing */
.btn, .i, .unit, .unit_txt, legend { letter-spacing: normal; word-spacing: normal; }

/* inline-block */
.btn, .btn_wrap, .btn_group, .i, .unit, .unit_txt, .item { display: -moz-inline-stack; display: inline-block; vertical-align: middle; zoom: 1; /*    *vertical-align: auto;*/ *display: inline; -ms-box-sizing: border-box; /*  -ms-box-sizing: content-box;*/ }

/* ========= */
/* = LAYOUT = */
/* ========= */
/* inspired in: https://github.com/stubbornella/oocss */
.unit, .unit_txt { *margin-left: -0.04em; /* IE margin hack */ vertical-align: top; }

.unit .unit, .unit_txt .unit_txt .unit .unit_txt, .unit_txt .unit { *margin-left: 0; }

/* IE9 */
@media all and (min-width:0) { /*  .unit, .unit_txt { margin-left:-0.01em \0/ ; }*/ }
/* widths */
.s1of1 { width: 100%; }

.s1of2 { width: 50%; }

.s1of3 { width: 33.33333%; }

.s2of3 { width: 66.66666%; }

.s1of4 { width: 25%; }

.s3of4 { width: 75%; }

.s1of5 { width: 20%; }

.s2of5 { width: 40%; }

.s3of5 { width: 60%; }

.s4of5 { width: 80%; }

.s1of6 { width: 16.66666%; }

.s1of7 { width: 14.285714%; }

/* separation to simulate gutter in unit inmediate childs */
.unit_txt > * { margin: 4px 10px; /*vertical rithm and gutter*/ }

/* IE6 - margin on inmediate childs */
* html .unit_txt * { margin: expression(( /unit_txt/.test(this.className) || /line/.test(this.className)  ) ? "0" : "4px 10px"); /*vertical rithm and gutter*/ }

.unit .line, .unit_txt .line { margin: 0; }

/* ============== */
/* = STRUCTURES = */
/* ============== */
/* thanks to @mamuso */
.item { zoom: 1; /* needed if .item is a <li> for example */ }

.item_media { float: left; }

.item_media img { display: block; }

.item_body { display: table; zoom: 1; }

/* thanks to http://stackoverflow.com/questions/4771304/justify-the-last-line-of-a-div */
.grid { text-align: justify; /*  text-align-last:justify;*/ /*http://www.w3.org/TR/2010/WD-css3-text-20101005/#text-align-last*/ text-justify: distribute-all-lines; width: 100%; margin-left: 0; margin-right: 0; padding-right: 0; padding-left: 0; }

.grid:after { content: '<span>&nbsp;</span>'; font-size: 1px; word-spacing: 100%; display: -moz-inline-stack; display: inline-block; width: 100%; visibility: hidden; }

.grid > * { text-align: left; }

* html .grid * { text-align: left; }

/* =========== */
/* = SPACING = */
/* =========== */
.pas { padding: 5px; }

.pam { padding: 10px; }

.pal { padding: 20px; }

.pts { padding-top: 5px; }

.ptm { padding-top: 10px; }

.ptl { padding-top: 20px; }

.prs { padding-right: 5px; }

.prm { padding-right: 10px; }

.prl { padding-right: 20px; }

.pbs { padding-bottom: 5px; }

.pbm { padding-bottom: 10px; }

.pbl { padding-bottom: 20px; }

.pls { padding-left: 5px; }

.plm { padding-left: 10px; }

.pll { padding-left: 20px; }

.phs { padding-left: 5px; padding-right: 5px; }

.phm { padding-left: 10px; padding-right: 10px; }

.phl { padding-left: 20px; padding-right: 20px; }

.pvs { padding-top: 5px; padding-bottom: 5px; }

.pvm { padding-top: 10px; padding-bottom: 10px; }

.pvl { padding-top: 20px; padding-bottom: 20px; }

.mas { margin: 5px; }

.mam { margin: 10px; }

.mal { margin: 20px; }

.mts { margin-top: 5px; }

.mtm { margin-top: 10px; }

.mtl { margin-top: 20px; }

.mrs { margin-right: 5px; }

.mrm { margin-right: 10px; }

.mrl { margin-right: 20px; }

.mbs { margin-bottom: 5px; }

.mbm { margin-bottom: 10px; }

.mbl { margin-bottom: 20px; }

.mls { margin-left: 5px; }

.mlm { margin-left: 10px; }

.mll { margin-left: 20px; }

.mhs { margin-left: 5px; margin-right: 5px; }

.mhm { margin-left: 10px; margin-right: 10px; }

.mhl { margin-left: 20px; margin-right: 20px; }

.mvs { margin-top: 5px; margin-bottom: 5px; }

.mvm { margin-top: 10px; margin-bottom: 10px; }

.mvl { margin-top: 20px; margin-bottom: 20px; }

/* =========== */
/* = BUTTONS = */
/* =========== */
/* remove default border for buttons and inputs in a btn group */
.btn_group button, .btn_group input { border: none; }

.btn_wrap, .btn_group { margin-right: .4em; }

/* button text format and style */
.btn { font-family: Arial, sans-serif; font-weight: bold; font-size: .75em; text-decoration: none; cursor: pointer; padding: .4em .9em; -webkit-appearance: none; font-size: .8em; /*required for IE8*/ }

.grid .btn { text-align: center; }

/* button margin */
.btn_wrap .btn { margin-right: 3px; }

/* button border style */
.btn, .btn_group { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border-width: 1px; border-style: solid; }

.btn_group .btn { border-style: none none none solid; border-width: 0 0 0 1px; margin-left: -1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

.btn_wrap .btn:hover, .btn_wrap .btn_h, .btn_wrap .btn_h:hover { border-width: 1px; border-style: solid; }

/* icons */
.i { background-position: left top; background-repeat: no-repeat; min-width: 12px; min-height: 12px; margin-right: 5px; margin-top: -2px; }

/* ========= */
/* = FORMS = */
/* ========= */
.dft_form, .dft_form fieldset { margin: 0; padding: 0; display: block; }

.dft_form fieldset { border: 1px solid #444444; padding: 10px 0; }

.field { border: 1px solid #666; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #f7f7f7 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, white 0%, #f7f7f7 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* W3C */ display: block; line-height: normal; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 1px 1px 0 #CCC inset; -webkit-box-shadow: 1px 1px 0 #CCC inset; box-shadow: 1px 1px 0 #CCC inset; }

.field input, .field textarea { margin: 0; padding: .45em 0 .4em; width: 100%; border: none; -webkit-appearance: none; resize: none; color: #999; background: transparent; }

.field input:focus, .field textarea:focus { color: #333; }

.field, .field input, .field textarea, label { font-size: .9em; }

.field, .dft_form label { padding: 0 .5em; }

.dft_form label { font-weight: bold; display: block; padding-bottom: .4em; text-shadow: 1px 1px 0px #000; }

/* button text format and style */
.btn { text-shadow: 1px 1px 0px #FFF; color: #666666; }

/* hovered color */
.btn:hover, .btn:active, .btn_h, .btn_pos_h, .btn_neg_h { color: #FFF; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); }

/* button border style */
.btn, .btn_group { border-color: #999999; }

.btn:hover, .btn_h, .btn_h:hover { border-color: #388AD4; }

.btn_pos:hover, .btn_pos_h, .btn_pos_h:hover { border-color: #496A19; }

.btn_neg:hover, .btn_neg_h, .btn_neg_h:hover { border-color: #6A2819; }

.btn_group .btn, .btn_group .btn:hover, .btn_group .btn_h, .btn_group .btn_h:hover, .btn_group .btn_pos:hover, .btn_group .btn_pos_h, .btn_group .btn_pos_h:hover, .btn_group .btn_neg:hover, .btn_group .btn_neg_h, .btn_group .btn_neg_h:hover { border-left-color: #999999; }

/* button backgrounds */
.btn, .btn_h { background: #e7e7e7; /* Old browsers */ background: -moz-linear-gradient(top, #e7e7e7 0%, #cccccc 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e7e7e7 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #e7e7e7 0%, #cccccc 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #e7e7e7 0%, #cccccc 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e7e7e7', endColorstr='#cccccc' ); /* IE6-9 */ background: linear-gradient(top, #e7e7e7 0%, #cccccc 100%); /* W3C */ }

.btn:hover, .btn_selected, .btn_h, .btn_h:hover { background: #75a9e2; /* Old browsers */ background: -moz-linear-gradient(top, #75a9e2 0%, #388ad4 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75a9e2), color-stop(100%, #388ad4)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #75a9e2 0%, #388ad4 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #75a9e2 0%, #388ad4 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #75a9e2 0%, #388ad4 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75a9e2', endColorstr='#388ad4',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #75a9e2 0%, #388ad4 100%); /* W3C */ }

.btn:active, .btn_h:active { background: #388ad4; /* Old browsers */ background: -moz-linear-gradient(top, #388ad4 0%, #75a9e2 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #388ad4), color-stop(100%, #75a9e2)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #388ad4 0%, #75a9e2 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #388ad4 0%, #75a9e2 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #388ad4 0%, #75a9e2 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#388ad4', endColorstr='#75a9e2',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #388ad4 0%, #75a9e2 100%); /* W3C */ }

.btn_pos { color: #4E901A; }

.btn_pos:hover, .btn_pos_h, .btn_pos_h:hover { background: #acda6b; /* Old browsers */ background: -moz-linear-gradient(top, #acda6b 0%, #7fb82d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acda6b), color-stop(100%, #7fb82d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #acda6b 0%, #7fb82d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #acda6b 0%, #7fb82d 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #acda6b 0%, #7fb82d 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acda6b', endColorstr='#7fb82d',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #acda6b 0%, #7fb82d 100%); /* W3C */ }

.btn_pos:active, .btn_pos_h:active { background: #7fb82d; /* Old browsers */ background: -moz-linear-gradient(top, #7fb82d 0%, #acda6b 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fb82d), color-stop(100%, #acda6b)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #7fb82d 0%, #acda6b 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #7fb82d 0%, #acda6b 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #7fb82d 0%, #acda6b 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fb82d', endColorstr='#acda6b',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #7fb82d 0%, #acda6b 100%); /* W3C */ }

.btn_neg { color: #b8472d; }

.btn_neg:hover, .btn_neg_h, .btn_neg_h:hover { background: #da806b; /* Old browsers */ background: -moz-linear-gradient(top, #da806b 0%, #b8472d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da806b), color-stop(100%, #b8472d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #da806b 0%, #b8472d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #da806b 0%, #b8472d 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #da806b 0%, #b8472d 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da806b', endColorstr='#b8472d',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #da806b 0%, #b8472d 100%); /* W3C */ }

.btn_neg:active, .btn_neg_h:active { background: #b8472d; /* Old browsers */ background: -moz-linear-gradient(top, #b8472d 0%, #da806b 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8472d), color-stop(100%, #da806b)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #b8472d 0%, #da806b 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b8472d 0%, #da806b 100%); /* Opera11.10+ */ background: -ms-linear-gradient(top, #b8472d 0%, #da806b 100%); /* IE10+ */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8472d', endColorstr='#da806b',GradientType=0 ); /* IE6-9 */ background: linear-gradient(top, #b8472d 0%, #da806b 100%); /* W3C */ }

/* icons */
.i-edit { background-image: url("../images/icons/picons1/12/basic1-018.png"); }

.i-new { background-image: url("../images/icons/picons1/12/basic1-006.png"); }
